<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>PROFILE</h3>
 <form [formGroup]="buyerForm">
    <div class="col-md-10">
        <div class="form-group">
          NAME:  <input type="text" formControlName="userName" class="form-control"/>
        </div>
    </div>
    <div class="col-md-10">
        <div class="form-group">
         PASSWORD: <input type="text" formControlName="password" class="form-control"/>
        </div>
    </div>
    <div class="col-md-10">
        <div class="form-group">
         MOBILENO: <input type="text" formControlName="mobileNo" class="form-control"/>
        </div>
        
    </div>
    <div class="col-md-10">
        <div class="form-group">
          EMAILID: <input type="email" formControlName="emailId" class="form-control"/>
        </div></div>
                <div class="form-group">
                    <button style="border-color:white;color: white;justify-content: center;" class="btn btn-outline-default my-2 my-sm-0" type="submit" (click)="Edit()">UPDATE</button>
                </div>
               
                </form>
            </div>
    </div>
</div>